@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');

body {
  font-family: 'Noto', sans-serif;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.bg-gradient {
background: linear-gradient
(135deg, #cfa0b6, #df5c99);
}